<h1>Fame#score</h1>
<p>Find me in app/views/fame/score.html.erb</p>


<% require_relative "../../models/longest_word.rb" %>

<%= puts "******** Now your result ********" %>
<%= "Your word: #{params[:input]}" %>

<%= puts "*****************************************************" %>

